<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Dep. From</th>
    <th scope="col">Dep. Date</th>
    <th scope="col" sortable="DepTime" (sort)="onSort($event)">Dep. Time</th>
    <th scope="col">Arr. To</th>
    <th scope="col">Arr. Date</th>
    <th scope="col" sortable="ArrTime" (sort)="onSort($event)">Arr. Time</th>
    <th scope="col" sortable="MinAdultPrice" (sort)="onSort($event)">Adult Price</th>
    <th scope="col" sortable="MinChildPrice" (sort)="onSort($event)">Child Price</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of data">
    <th scope="row">{{ item.apiRecNum }}</th>
    <td>{{ item.DepStationCodeFull }} ({{ item.DepStationCode }})</td>
    <td>{{ item.DepDate | date }}</td>
    <td>{{ item.DepTime | time }}</td>
    <td>{{ item.ArrStationCodeFull }} ({{ item.ArrStationCode }})</td>
    <td>{{ item.ArrDate | date }}</td>
    <td>{{ item.ArrTime | time }}</td>
    <td>{{ item.Currency }} {{ item.MinAdultPrice }}</td>
    <td>{{ item.Currency }} {{ item.MinChildPrice }}</td>
  </tr>
  </tbody>
</table>

<button *ngIf="DepTimeDir" class="btn-primary" (click)="sort('DepTime', 'asc')">Toggle By Departure Time</button>
<button *ngIf="!DepTimeDir" class="btn-success" (click)="sort('DepTime', 'des')">Toggle By Departure Time</button>

<button *ngIf="ArrTimeDir" class="btn-primary" (click)="sort('ArrTime', 'asc')">Toggle By Arrival Time</button>
<button *ngIf="!ArrTimeDir" class="btn-success" (click)="sort('ArrTime', 'des')">Toggle By Arrival Time</button>

<button *ngIf="MinAdultPriceDir" class="btn-primary" (click)="sort('MinAdultPrice', 'asc')">Toggle By Adult Price</button>
<button *ngIf="!MinAdultPriceDir" class="btn-success" (click)="sort('MinAdultPrice', 'des')">Toggle By Adult Price</button>

<button *ngIf="MinChildPriceDir" class="btn-primary" (click)="sort('MinChildPrice', 'asc')">Toggle By Child Price</button>
<button *ngIf="!MinChildPriceDir" class="btn-success" (click)="sort('MinChildPrice', 'des')">Toggle By Child Price</button>
